* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	font-size: clamp(1em, 1.5em, 5vw);
	color: #d84c01;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #181818;
	color: #cecdcd;
}

img {
	max-width: 100%;
	padding: 2em;
}

.imgs {
	margin-bottom: 3em;
	max-width: 100%;
}

p {
	font-size: clamp(1em, 1.5em, 5vw);
	max-width: clamp(10em, 40em, 80vw);
	margin: 0 auto;
	margin-bottom: 1em;
}

.container {
	text-align: center;
}

.countdown_title {
	font-size: clamp(1em, 10em, 13vw);
	font-weight: bold;
}
.sub_heading {
	font-size: clamp(1em, 3em, 5vw);
}

#countdown {
	font-size: clamp(1em, 5em, 10vw);
	font-weight: bold;
	color: #d84c01;
}

#answer {
	display: none;
}

footer {
	text-align: center;
	position: fixed;
	font-size: clamp(0.1em, 0.5em, 1.1vw);
	padding: 0.3em;
	bottom: 0;
	right: 0.3em;
}
